@import '../manage-users/manage-users.component.scss';

.audit-logs {
    min-height: calc(100vh - 80px);
}

.table {
    th {
        white-space: nowrap;
    }

    td {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}

.custom-input {
    width: 100%;
}
